{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} :: Фермы
{% endblock %}

{% form_theme create_form 'bootstrap_4_layout.html.twig' %}

{% block content %}
    <style>
        .tooltip-inner {
            white-space:pre-wrap;
        }
    </style>

    <p>
        <button data-toggle="modal" data-target="#createNewRig" class="btn btn-primary"><i class="fa fa-plus"></i> Добавить</button>
    </p>

    <table class="table table-responsive-lg table-sm table-hover">
        <thead>
            <tr>
                <th>#</th>
                <th>Имя</th>
                <th>Статус</th>
                <th>Последний отклик</th>
                <th>Скорость</th>
                <th>Температура</th>
                <th>Сеть</th>
                <th>SSH</th>
                <th>Действия</th>
            </tr>
        </thead>
        <tbody>
            {% for rig in rigs %}
                {% set row_color = '' %}
                {% if rig.statistics %}
                    {% set row_color = rig.statistics.outdated ? 'table-danger' : '' %}
                {% endif %}
                <tr class="{{ row_color }}">
                    <td>{{ rig.id }}</td>
                    <td>{{ rig.name }}</td>
                    <td>
                        {% if rig.status == 0 %}
                            {% set uptime = (rig.statistics ? rig.statistics.uptime : '-') %}
                            <span data-toggle="tooltip" data-placement="top" data-title="Аптайм: {{ uptime }}" class="badge badge-success">Работает</span>
                        {% elseif rig.status == 1 %}
                            <span class="badge badge-danger">Не работает</span>
                        {% else %}
                            <span class="badge badge-default">???</span>
                        {% endif %}
                    </td>
                    <td>
                        <span data-toggle="tooltip" data-placement="top" data-title="{{ rig.lastSeen ? rig.lastSeen|date('d.m.Y H:i:s') : '-' }}">{{ rig.lastSeen ? rig.lastSeen|ago : '-' }}</span>
                    </td>
                    <td>
                        {% if rig.statistics %}
                            {% set message = '' %}
                            {% for item in rig.statistics.miningSpeeds %}
                                {% set message = message ~ item ~ ' ' ~ rig.statistics.speedPostfix ~"\n" %}
                            {% endfor %}
                            <span data-toggle="tooltip" data-placement="top" data-title="{{ message }}">{{ rig.statistics.miningSpeedSum ~ ' ' ~ rig.statistics.speedPostfix }}</span>
                        {% else %}
                            -
                        {% endif %}
                    </td>
                    <td>
                        {% if rig.statistics %}
                            {% set max_temp = max(rig.statistics.temps) %}
                            {% if max_temp > 80 %}
                                {% set color = 'danger' %}
                            {% else %}
                                {% set color = 'success' %}
                            {% endif %}

                            {% set message = '' %}
                            {% for item in rig.statistics.temps %}
                                {% set message = message ~ item ~ ' ' %}
                            {% endfor %}
                            {% set message = message ~ " ℃\n" %}

                            {% for item in rig.statistics.fanspeeds %}
                                {% set message = message ~ item ~ ' ' %}
                            {% endfor %}
                            {% set message = message ~ " %" %}

                            <span data-toggle="tooltip" data-placement="top" data-title="{{ message }}"><span class="text-{{ color }}">{{ max_temp }}℃</span> <small>{{ max(rig.statistics.fanspeeds) }}%</small></span>
                        {% else %}
                            -
                        {% endif %}

                    </td>
                    <td>
                        {% if rig.statistics %}
                            <span data-toggle="tooltip" data-placement="top" data-title="Локальный IP: {{ rig.statistics.localIp }}">
                                <span class="badge badge-primary" style="background-color: #{{ rigs_network_colors[rig.statistics.publicIp] }}">{{ rig.statistics.publicIp }}</span>
                            </span>
                        {% else %}
                            -
                        {% endif %}
                    </td>
                    <td>
                        <kbd>{{ rig.connector.connectionString }}</kbd>
                    </td>
                    <td>
                        <a href="{{ url('rig_update', {'rig': rig.id}) }}" class="btn btn-primary btn-sm"><i class="fa fa-refresh"></i> Обновить</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <div class="modal fade" id="createNewRig" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Добавление фермы</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                {{ form_start(create_form) }}
                <div class="modal-body">
                    {{ form_errors(create_form) }}
                    {{ form_widget(create_form) }}
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary"><i class="fa fa-plus"></i> Добавить</button>
                </div>
                {{ form_end(create_form) }}
            </div>
        </div>
    </div>
{% endblock %}

